body {
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2021/12/avion-united-airlanes-2551507.jpg?tf=3840x');
    background-size: cover;
    background-position: center;
    padding: 20px;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }

  h1 {
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="number"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }

  button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }

  .vuelo-list {
    margin-top: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  #formulario-compra,
  #mensaje-compra {
    display: none;
  }

  #mensaje-compra {
    margin-top: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
  }
  